
.card {
  width: 160px;
  height: 475px;
  text-align: center;
  margin: 25px;
  background: white;
  opacity: .86;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 3px 3px 3px #7c7c7c;
}

.card-selected {
  width: 160px;
  height: 475px;
  text-align: center;
  margin: 25px;
  background: white;
  opacity: .86;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 3px 3px 3px #7c7c7c;
  border: 3px solid red
}

.card:hover {
  cursor: pointer;
}

h1 {
  font-size: 20px;
}

.data {
  font-size: 15px;
  text-align: left;
  font-weight: bold;
}

.less-than {
  color: #ea6512;
}

.greater-than {
  color: #4f4f4f;
}
