body {
  background: #5bc5ef;
}

.card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}



/*.apple {
  background-image: url(http://www.misskatecuttables.com/uploads/shopping_cart/8039/large_worm-in-apple.png);
  width: 60px;
}*/
